<mat-card>
  <mat-card-header
    class="d-flex justify-content-between align-items-center pb-1"
  >
    <mat-card-title>Table of Elements Using Angular Material Table (Main Task)</mat-card-title>
    <button mat-flat-button (click)="stateManagementService.addElement()">
      <mat-icon>add</mat-icon>Add Element
    </button>
  </mat-card-header>

  <mat-card-content>
    <app-table
      [displayedColumns]="displayedColumns"
      [rowData]="stateManagementService.rowData()"
      [actionList]="actionList"
      (actionClick)="stateManagementService.onActionClick($event)"
    ></app-table>
  </mat-card-content>
</mat-card>
