<mat-card>
  <mat-card-header class="d-flex justify-content-between align-items-center pb-1">
    <mat-card-title>Table of Elements</mat-card-title>
    <button mat-flat-button (click)="addElement()"><mat-icon>add</mat-icon>Add Element</button>
  </mat-card-header>

  <mat-card-content>
    <app-table
      [displayedColumns]="displayedColumns"
      [rowData]="rowData"
      [actionList]="actionList"
      (actionClick)="onActionClick($event)"
    ></app-table>
  </mat-card-content>
</mat-card>
