html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@mixin snackbar-styles($bg-color) {
  .mat-mdc-snackbar-surface {
    background-color: $bg-color !important;
  }

  .mdc-button .mdc-button__label {
    color: white;
  }
}

.success-snackbar {
  @include snackbar-styles(green);
}

.info-snackbar {
  @include snackbar-styles(#138496);
}

.error-snackbar {
  @include snackbar-styles(#c82333);
}

.warning-snackbar {
  @include snackbar-styles(#e69422);
}

@import "../node_modules/ag-grid-community/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-alpine.css";
